@page "/product-categories"
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<h3>Product Categories</h3>

<h4>Add Product Category</h4>

<input class="form-control" @bind="newCategory.Name" placeholder="Category name" /><br />

<button class="btn btn-success"
        @onclick="CreateCategory">
    Add
</button>

<hr />

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Status</td>
                    <td>
                        <button class="btn btn-primary"
                                @onclick="() => EditCategory(category)">
                            Edit
                        </button>
                        <button class="btn btn-danger"
                                @onclick="() => DeleteCategory(category.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (selectedCategory != null)
{
    <hr />

    <h4>Edit Category</h4>

    <input class="form-control"
           @bind="selectedCategory.Name" />

    <br />

    <select class="form-control"
            @bind="selectedCategory.Status">
        <option value="@EntityStatus.Active">Active</option>
        <option value="@EntityStatus.Inactive">Inactive</option>
    </select>

    <br />

    <button class="btn btn-success"
            @onclick="UpdateCategory">
        Save
    </button>
}

@code {
    private List<ProductCategoryDto>? categories;
    private ProductCategoryDto? selectedCategory;

    private CreateProductCategoryDto newCategory = new();

    private async Task CreateCategory()
    {
        var client = HttpClientFactory.CreateClient("CommerceApi");

        await client.PostAsJsonAsync(
            "api/product-categories",
            newCategory);

        newCategory = new CreateProductCategoryDto();

        await LoadCategories();
    }

    public class CreateProductCategoryDto
    {
        public string Name { get; set; } = null!;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    private async Task LoadCategories()
    {
        var client = HttpClientFactory.CreateClient("CommerceApi");

        categories = await client.GetFromJsonAsync<List<ProductCategoryDto>>(
            "api/product-categories");
    }

    private void EditCategory(ProductCategoryDto category)
    {
        selectedCategory = new ProductCategoryDto
        {
            Id = category.Id,
            Name = category.Name,
            Status = category.Status
        };
    }

    private async Task UpdateCategory()
    {
        if (selectedCategory == null)
            return;

        var client = HttpClientFactory.CreateClient("CommerceApi");

        await client.PutAsJsonAsync(
            "api/product-categories",
            selectedCategory);

        await LoadCategories();

        selectedCategory = null;
    }

    private async Task DeleteCategory(Guid id)
    {
        var client = HttpClientFactory.CreateClient("CommerceApi");

        var response = await client.DeleteAsync(
            $"api/product-categories/{id}");

        if (response.IsSuccessStatusCode)
        {
            await LoadCategories();
        }
        selectedCategory = null;

    }

    public class ProductCategoryDto
    {
        public Guid Id { get; set; }

        public string Name { get; set; } = null!;

        public EntityStatus Status { get; set; }
    }

    public enum EntityStatus
    {
        Active = 1,
        Inactive = 2
    }
}